/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body { 
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Global Material Theme Customization */
.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-card {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) !important;
}
