<div class="event-form">
  <div class="form-header">
    <h2>{{data ? 'Edit Event' : 'Create Event'}}</h2>
    <button mat-icon-button (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-content">
      <mat-form-field appearance="outline">
        <mat-label>Event Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter event name">
        <mat-error *ngIf="eventForm.get('name')?.errors?.['required']">
          Name is required
        </mat-error>
        <mat-error *ngIf="eventForm.get('name')?.errors?.['maxlength']">
          Name cannot exceed 255 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" 
                  placeholder="Enter event description"
                  rows="3"></textarea>
        <mat-error *ngIf="eventForm.get('description')?.errors?.['required']">
          Description is required
        </mat-error>
      </mat-form-field>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Event Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="eventForm.get('date')?.errors?.['required']">
            Date is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Event Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of eventTypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="eventForm.get('type')?.errors?.['required']">
            Type is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="form-actions">
      <button mat-button type="button" (click)="onCancel()" [disabled]="isSubmitting">
        Cancel
      </button>
      <button mat-raised-button color="primary" 
              type="submit"
              [disabled]="eventForm.invalid || isSubmitting">
        <mat-icon>{{data ? 'save' : 'add'}}</mat-icon>
        {{data ? 'Update' : 'Create'}}
      </button>
    </div>
  </form>
</div>
